@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import "tailwindcss";

@theme {
  --font-emphasize: "Climate Crisis", sans-serif;
  --font-sans: "Montserrat", sans-serif;

  --color-forest-700: #7f877d;
  --color-forest-800: #5c685b;
  --color-forest-850: #414c46;
  --color-forest-900: #343d3b;
  --color-forest-950: #181a1b;

  --color-off-white: #f1f0d5;

  --color-tan: #c4b5a3;
  --color-poop: #cc0000;
}

.card {
  @apply p-6 rounded-2xl shadow-lg bg-off-white text-forest-850;
}
