@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-emphasize: "Climate Crisis", sans-serif;
  --font-sans: "Outfit", sans-serif;

  --color-forest-700: #7f877d;
  --color-forest-800: #5c685b;
  --color-forest-850: #414c46;
  --color-forest-900: #343d3b;
  --color-forest-950: #181a1b;

  /* --color-off-white: #f1f0d5; */
  --color-off-white: #f0efdd;
  --color-off-white-2: #dbdac3;
  --color-off-white-3: #c9c9b5;

  --color-tan: #c4b5a3;
  --color-poop: #cc0000;
}

.card {
  /* @apply p-6 rounded-2xl shadow-lg bg-off-white text-forest-850; */
  @apply p-6 rounded-2xl shadow-lg bg-forest-800 text-off-white;
}

.project-card {
  @apply w-full rounded-2xl shadow-lg bg-forest-950 text-off-white overflow-hidden cursor-pointer transition hover:scale-[1.03];
}

.button {
  @apply bg-off-white text-forest-800 px-4 py-2 rounded-full font-semibold transition cursor-pointer hover:scale-105;
}

.chill-button {
  @apply block w-full text-center bg-forest-900 px-6 py-3 rounded-full font-semibold cursor-pointer hover:scale-105 transition;
}

.logo-button {
  @apply flex items-center justify-center gap-2;
}

body, html {
  background-color: black;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.slide-up-fade {
  animation: slideUpFade 0.6s cubic-bezier(.05,.66,.41,.97) forwards;
}

@keyframes slideUpFade2 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up-fade-2 {
  animation: slideUpFade2 0.8s cubic-bezier(.05,.66,.41,.97) forwards;
}

@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    width: 12rem;
  }
}

.animate-width {
  animation: animate-width 0.6s cubic-bezier(.05,.66,.41,.97) forwards;
}
